@use "base/colors" as colors;

.nav-toggle {
    display: none;
    background: colors.$light;
    border: none;
    cursor: pointer;
    padding: 0;

    .hamburger {
        width: 29px;
        height: 3px;
        background: colors.$ii-blue;
        margin-bottom: 5px;
        border-radius: 3px;
        transform-origin: 5px 0;
        transition:
            transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
    }

    .hamburger:nth-child(3) {
        margin: 0;
    }

    &.active {
        .hamburger:nth-child(1) {
            transform: rotate(45deg);
            opacity: 1;
            margin: 0;
        }

        .hamburger:nth-child(2) {
            transform: scale(0.2, 0.2);
            opacity: 0;
        }

        .hamburger:nth-child(3) {
            transform: rotate(-45deg) translate(-4px);
            opacity: 1;
            margin: 0;
        }
    }
}

@media(max-width: 768px) {
    #guest-user-navigation {

        & .nav-toggle {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 100;
        }


    }
}